@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&family=Inter:wght@400;500;700&family=Nanum+Gothic:wght@400;700;800&family=Rubik:wght@500;600;700&display=swap');

body {
  font-family: 'Nanum Gothic', sans-serif;
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
  background: linear-gradient(to right, #261447, #1b1523);

  /* background: #1b1523; */
  color: #fff;
}